---
import Layout from '../layouts/BlogPost.astro';
import Topic from './parts/topic.vue'
---

<Layout
	title="视频专题"
	description="汇集，整合，呈现"
>
	<div class="flex flex-col gap-[15px]">
		<Topic />
	</div>
</Layout>
