---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Details from "../parts/detail.vue";

const { slug } = Astro.params;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="h-screen w-screen flex flex-col p-0">
      <Header />
      <main
        class="max-w-7xl w-full h-full overflow-y-scroll px-0 py-[20px] no-scroll-container"
      >
        <div>
          <Details client:load code={slug} />
        </div>
      </main>
    </div>
  </body>
</html>
